*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;
    background-color: bisque;
    padding: 10px;
}
.comment-section{
    height: 75%;
    overflow: auto;
}
.comment{
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
#user-icon{
    width: 45px;
    height: 45px;
}
#reply{
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}

.textarea-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}

textarea{
    width: 90%;
    min-height: 60px;
    margin-bottom:10px ;
}
button{
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
}